.mlf-filter {
	text-align: center;
	@include mobile() {
		position: absolute;
		background-color: $grey3;
		width: 320px;
		right: 23px;
	}
}

.mlf-filter-form {
	display: inline-block;
}

.mlf-filter-row {
	@include clearfix();
}

*[class^="mlf-filter-col"] {
	float: left;
	padding: 0 15px;
	vertical-align: middle;
	line-height: 55px;
}

.mlf-filter-title {
	font-weight: bold !important;
	text-align: center;
	margin: auto 0px;
	float: left;
}

// .mlf-filter-dropdown-group {
// 	margin-top: 0;
// 	margin-right: 10px;
// 	display: block;
// }

a.mlf-filter-link {
	padding: 0;
	font-size: 16px;
	text-decoration: underline;
	font-weight: normal;
}

.mlf-filter-form-submit {
	input {
		margin-bottom: 0px;
	}
}
